<template>
  <div id="app">
    <v-app>
      <v-layout row sx12 sm12 md12>
        <v-flex>
          <v-card height="100%">
            <v-toolbar>
              <v-toolbar-side-icon></v-toolbar-side-icon>
              <v-toolbar-title class="headline"
                >xbAV - Todo App</v-toolbar-title
              >
              <v-spacer></v-spacer>
              <v-btn color="success" @click="onCreate">Create Todo</v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <router-view />
          </v-card>
        </v-flex>
      </v-layout>
    </v-app>
  </div>
</template>

<script>
import store from '@/store';
import { EMPTY_TODO } from './utils/constants';

export default {
  methods: {
    onCreate() {
      store.dispatch('todo/showDialog', true);
      store.dispatch('todo/setTodo', { ...EMPTY_TODO });
    },
  },
};
</script>
