<template>
  <div class="home">
    <todo-form></todo-form>
    <todo-list></todo-list>
  </div>
</template>

<script>
import TodoList from '@/components/Todo/TodoList.vue';
import TodoForm from '@/components/Todo/TodoForm.vue';

export default {
  name: 'home',
  components: {
    TodoForm,
    TodoList,
  },
};
</script>
