<template>
  <v-list-tile avatar>
    <v-list-tile-avatar>
      <v-checkbox
        v-model="todo.completedAt"
        v-on:change="onChange"
      ></v-checkbox>
    </v-list-tile-avatar>

    <v-list-tile-content>
      <v-list-tile-title
        v-html="todo.title"
        :class="{ done: todo.completedAt }"
      />
      <v-list-tile-sub-title v-html="todo.description"></v-list-tile-sub-title>
    </v-list-tile-content>
    <v-btn icon ripple color="primary" @click="onEdit()">
      <v-icon>edit</v-icon>
    </v-btn>
    <v-btn icon ripple color="warning" @click="onDelete()">
      <v-icon>close</v-icon>
    </v-btn>
  </v-list-tile>
</template>

<script>
import store from '@/store';

export default {
  name: 'todo-item',
  props: {
    todo: Object,
  },
  methods: {
    onDelete() {
      store.dispatch('todo/deleteTodo', this.todo.id);
    },
    onEdit() {
      store.dispatch('todo/setTodo', { ...this.todo });
      store.dispatch('todo/showDialog', true);
    },
    onChange() {
      store.dispatch('todo/updateTodo', this.todo);
    },
  },
};
</script>

<style scoped>
.done {
  text-decoration: line-through;
}
</style>
