<template>
  <v-dialog v-model="showDialog" persistent max-width="600">
    <v-form>
      <v-card>
        <v-card-title class="headline">{{
          todo.id ? 'Update todo' : 'Create todo'
        }}</v-card-title>

        <v-card-text>
          <v-container>
            <v-layout row wrap>
              <v-flex xs12 sm6 md6>
                <v-text-field
                  name="title"
                  v-model="todo.title"
                  label="Title"
                  placeholder="Type a title for the todo"
                />
              </v-flex>

              <v-flex xs10 sm6 md6>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="todo.date"
                    label="Date"
                    hint="MM/DD/YYYY format"
                    persistent-hint
                    prepend-icon="event"
                    @blur="date = parseDate(todo.date)"
                  ></v-text-field>
                  <v-date-picker
                    v-model="todo.date"
                    no-title
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm12 md12>
                <v-textarea
                  name="description"
                  label="Description"
                  v-model="todo.description"
                />
                <v-checkbox
                  v-model="todo.completedAt"
                  label="Completed"
                ></v-checkbox>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click.prevent="onSubmit" color="primary">submit</v-btn>
          <v-btn @click="onClear" color="warning">cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex';
import store from '@/store';

import { EMPTY_TODO } from '../../utils/constants';

export default {
  data: () => ({
    menu: false,
  }),
  computed: {
    ...mapState('todo', ['todo', 'showDialog']),
  },
  methods: {
    onSubmit() {
      const todo = {
        ...this.todo,
      };
      if (todo.id) {
        return store.dispatch('todo/updateTodo', todo).then(this.onClear);
      }
      return store.dispatch('todo/createTodo', todo).then(this.onClear);
    },
    onClear() {
      store.dispatch('todo/setTodo', { ...EMPTY_TODO });
      store.dispatch('todo/showDialog', false);
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split('/');
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
    },
  },
};
</script>
