<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 sm8 md8 offset-sm2 offset-xmd2>
        <v-text-field
          type="search"
          v-model="query"
          :messages="['Filter todos with title']"
          prepend-icon="search"
        />
        <template v-for="(todo, index) in filteredTodos">
          <div :key="todo.id">
            <todo-item :todo="todo" />
            <v-divider v-if="index + 1 < filteredTodos.length"></v-divider>
          </div>
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';
import TodoItem from '@/components/Todo/Item.vue';

export default {
  components: {
    TodoItem,
  },
  data: () => ({
    query: '',
  }),
  computed: {
    ...mapState('todo', ['todos']),
    filteredTodos() {
      return this.todos.filter(todo =>
        todo.title.toLowerCase().includes(this.query.toLowerCase())
      );
    },
  },
};
</script>
